<div class="container-fluid">

  <div class="m-3"></div>

  <div class="row" *ngIf="entityCollection">
    <div class="col-12">
      <app-entities-card [entityCollection]="entityCollection"></app-entities-card>
    </div>
  </div>

  <div class="list-group-item" *ngIf="entityCollection && entityCollection.entities.length > entityCollection.entitiesVisible.length">
    <div class="alert alert-warning">More entities available but not shown... Pagination not yet implemented.</div>
  </div>

</div>
