<div class="container-fluid">

  <div class="m-3"></div>

  <div *ngIf="entityCollection">{{ entityCollection.total_items }} entities found</div>

  <app-entities [entityCollection]="entityCollection"></app-entities>

  <div *ngIf="entityCollection" class="row">
    <div class="col-xs-12 col-12">
      <pagination
          [totalItems]="entityCollection.total_items"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
          [maxSize]="10"
          [boundaryLinks]="false">
      </pagination>
    </div>
  </div>

  <div class="m-3"></div>

</div>
