<div class="container-fluid">

  <div class="m-3"></div>

  <div class="m-2" *ngIf="entityCollection">{{ entityCollection.totalItems }} entities found</div>

  <app-entities [entityCollection]="entityCollection"></app-entities>

  <hr/>

  <div *ngIf="entityCollection" class="row">
    <div class="col-xs-12 col-12">
      <pagination class="justify-content-center"
          [totalItems]="entityCollection.totalItems"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
          [maxSize]="maxPaginatorSize()"
          [itemsPerPage]="ENTITIES_PER_PAGE"
          [boundaryLinks]="true">
      </pagination>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-md-4 offset-md-4">
      <div *ngIf="!entityCollection" class="text-center">
        <i class="fa fa-lg fa-spinner fa-spin text-primary"></i>
        <div class="m-2">
          loading entities...
        </div>
      </div>
    </div>
  </div>

  <div class="m-3"></div>

</div>
